.Home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    width: 100%;
    margin-top: 10vh;
}
.Home div{
    margin-bottom: 3vh;
}
.Home button{
    margin: 0;
    border: 0;
    padding: 0;
    width: 50vh;
    height: 45px;
    color: black;
    border-radius: 15px;
}
.Home_doctor_button{
    background-color: #0281f82a;
}
.Home_pacient_button{
    background-color: #e402f81d;
}

/* ----- Animação ----- */

.Home_doctor_button:hover{
    background-color: #023bf88d;
    cursor: pointer;
    transition: 1s;
    height: 50px;
    width: 55vh;
}
.Home_pacient_button:hover{
    background-color: #e402f88d;
    cursor: pointer;
    transition: 1s;
    height: 50px;
    width: 55vh;
}
