html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    transition: 0.5;
}
.back_video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 15%;
    transition: 0.5;
}